@using (Html.BeginForm("Encrypt", "Home", FormMethod.Post))
{
    <div>
        <label for="recipientPublicKey">Recipient Public Key:</label>
        <textarea id="recipientPublicKey" name="recipientPublicKey" rows="4" cols="50"></textarea>
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
    </div>
    <div>
        <input type="submit" value="Encrypt" />
    </div>
}

<hr />

@using (Html.BeginForm("Decrypt", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label for="privateKey">Private Key:</label>
        <textarea id="privateKey" name="privateKey" rows="4" cols="50"></textarea>
    </div>
    <div>
        <label for="passphrase">Passphrase:</label>
        <input type="password" id="passphrase" name="passphrase" />
    </div>
    <div>
        <label for="encryptedFile">Encrypted File:</label>
        <input type="file" id="encryptedFile" name="encryptedFile" />
    </div>
    <div>
        <input type="submit" value="Decrypt" />
    </div>
}

<hr />

@if (ViewBag.DecryptedMessage != null)
{
    <div>
        <h3>Decrypted Message:</h3>
        <pre>@ViewBag.DecryptedMessage</pre>
    </div>
}
